# NextAuth
NEXTAUTH_SECRET=zAA9rD7JfQeliJwRPgMENJ+oTwsbSFGgwlbTVIaBeLw=
NEXTAUTH_URL=http://localhost:3000

# Vercel KV (from Vercel dashboard after creating a KV store)
KV_REST_API_READ_ONLY_TOKEN="ggAAAAAAAQPYAAIgcDHW5V7tHZxJ5z7cdTBEFbbRVBPC223_Wq_Ik9DXcx-IkA"
KV_REST_API_TOKEN="gQAAAAAAAQPYAAIncDE1NTIyZjhkZmZmZTY0MDc4YWY4Y2ZhNzBjYTljYjkyZHAxNjY1MjA"
KV_REST_API_URL="https://trusting-man-66520.upstash.io"
KV_URL="rediss://default:gQAAAAAAAQPYAAIncDE1NTIyZjhkZmZmZTY0MDc4YWY4Y2ZhNzBjYTljYjkyZHAxNjY1MjA@trusting-man-66520.upstash.io:6379"
KV_REDIS_URL="rediss://default:gQAAAAAAAQPYAAIncDE1NTIyZjhkZmZmZTY0MDc4YWY4Y2ZhNzBjYTljYjkyZHAxNjY1MjA@trusting-man-66520.upstash.io:6379"
